@font-face {
	font-family: Renogare;
	src: url("/assets/fonts/Renogare.otf");
}

@font-face {
	font-family: Minecraft;
	src: url("/assets/fonts/Mojangles.woff2");
}

:root {
  --md-text-font: "Renogare"; 
  --md-code-font: "Minecraft";
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
	border: none;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
	border: none;
}

img {
	border: 2px solid #FFFFFF;
	border-radius: .2rem;
}

.md-typeset h1 {
	display: none;
}

.md-typeset h2 {
	font-family: Minecraft;
	margin: 0;
}

.md-header__title {
	font-family: Minecraft	;
	font-size: 1.5rem;
}

.md-annotation__index {
	margin: 0;
}

.md-annotation__index:after, .md-annotation__index:before {
	height: 1.8ch;
}